[Unit]
Description=Run Pi5 Bird Feeder Watchdog every minute

[Timer]
OnBootSec=45s
OnUnitActiveSec=1min
AccuracySec=10s
Unit=pi5-birdfeeder-watchdog.service

[Install]
WantedBy=timers.target
