[Unit]
Description=Pi5 Bird Feeder Main Loop
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=arno
WorkingDirectory=/home/arno/Documents/py/iot/pi5-birdfeeder
EnvironmentFile=/home/arno/Documents/py/iot/pi5-birdfeeder/.env
ExecStart=/home/arno/Documents/py/iot/.venv/bin/python src/main.py
Restart=always
RestartSec=5
StartLimitIntervalSec=120
StartLimitBurst=10

[Install]
WantedBy=multi-user.target
